<div class="main-content">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h4 class="card-title">User Table</h4>
      <button type="button" class="btn btn-primary btn-round">Add User</button>
    </div>
    <div class="card-body">
      <div>
        <app-table
          *ngIf="users"
          [Data]="users"
          [Columns]="columnsOptions"
          [ActionsColumn]="actionsColumn"
          [Total]="count"
          [Take]="take"
          [Page]="1"
          (OnPageChange)="pageChange($event)"
        >
        </app-table>
      </div>
    </div>
  </div>
</div>
